body {
    font-family: sans-serif;
    background-color: #fdf6e3;
    margin: auto;
}
.btn-primary:hover {
    opacity: 25%;
}
.row {
    text-align: center;
}
h3 {
    color: #657b83;
}
.uutiset {
    font-family: serif;
}
.eka {
    margin-top: 1em;
}
